In [1]:
from consolidation.plateConsol import EchotoPlateConsol
from consolidation.plateConsol import CGEplatesConsol
from consolidation.ToDatabase import GB
from consolidation.ToDatabase.GB import ProjectScraper
from neo4j import GraphDatabase

import pandas as pd
import numpy as np 
from datetime import datetime
import os
import re

In [2]:
DIRS = r'test/1_Agar CP/'
FirstMeta = EchotoPlateConsol.PlateConverter(DIRS).convert()

In [3]:
FirstMeta.head(n=5)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
3,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O5,G0000426,E7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
4,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,L4,G0000426,F7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13

In [4]:
dp = r'test/3_Harvest/'

ToDPplate = EchotoPlateConsol.DilutionPlateCreator(dp, FirstMeta).create_dilution_plates()

ToDPplate.head(n=2)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13

In [5]:
gp = r'test/4_GLY'

In [6]:
ToGP = EchotoPlateConsol.GlycerolPlates(gp, ToDPplate).convert()

In [7]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13

In [8]:
#--directory to the dilution logs 
dp = r'test/5_Decant'

In [9]:
#--initiate the getDilutionPlate class
FORCGE = CGEplatesConsol.GetDilutionPlates(ToGP, dp)

In [11]:
#--check dilution plates
FORCGE.getDplates()
FORCGE.Dplates

array(['D0000002', 'D0000004', 'D0000006', 'D0000008', 'D0000010',
       'D0000012', 'D0000014', 'D0000016'], dtype=object)

In [17]:
FORCGE.getCGEPlates()

In [18]:
FORCGE.sol

{'D0000002': 'S0000002', 'D0000010': 'S0000010'}

In [19]:
FORCGE.insol

{'D0000002': 'I0000002', 'D0000010': 'I0000010'}

In [20]:
#--Convert Insol plates
ToGP['Insol_Plate'] = ToGP['Dilution_Plate'].apply(lambda x: FORCGE.Analyzed_Plates_ISol(x))

In [21]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number,Insol_Plate
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002

In [22]:
ToGP['Sol_Plate'] = ToGP['Dilution_Plate'].apply(lambda x: FORCGE.Analyzed_Plates_Sol(x))

In [23]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number,Insol_Plate,Sol_Plate
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002

In [24]:
#--directory to the reduced CGE plates
reduced = r'test/6_CGE'

In [25]:
#--initiate the ReducedNonReducedPlateConverter class
FORCGEREDUCED = CGEplatesConsol.ReducedNonReducedPlateConverter(reduced)

In [26]:
#--collect and check the plates
FORCGEREDUCED.collectPlates()
FORCGEREDUCED.PLATES

['I0000002',
 'RED0000024',
 'I0000010',
 'RED0000032',
 'S0000002',
 'RED0000008',
 'S0000010',
 'RED0000016']

In [30]:
#--collect the reduced plates converter
FORCGEREDUCED.collectReducedPlates()

In [31]:
#--inspect the reduced plates
FORCGEREDUCED.SOL_REDUCED_PLATES

{'S0000002': 'RED0000008', 'S0000010': 'RED0000016'}

In [32]:
#--inspect the reduced plates insol
FORCGEREDUCED.INSOL_REDUCED_PLATES

{'I0000002': 'RED0000024', 'I0000010': 'RED0000032'}

In [34]:
#--create SOl and reduced CGE column
ToGP['Sol_Reduced_CGEPlate'] = ToGP['Sol_Plate'].apply(lambda x: FORCGEREDUCED.Analyzed_CGEPlates_Sol(x))
ToGP['Insol_Reduced_CGEPlate'] = ToGP['Insol_Plate'].apply(lambda x: FORCGEREDUCED.Analyzed_CGEPlates_ISol(x))
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,...,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number,Insol_Plate,Sol_Plate,Sol_Reduced_Plate,Insol_Reduced_Plate
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,...,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002,RED0000008,RED0000024
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,...,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002,RED0000008,RED0000024
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,...,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,S0000002,RED0000008,RED0000024

In [4]:
# Define the connection details
uri = "bolt://localhost:7687"  # Update this with your Neo4j server URI
username = "neo4j"
password = 'fastassscreen'

In [5]:
#--test connection
GB.Neo4jConnector(uri, username, password).connect().test_connection()

'Connected'

In [6]:
#--basic project MetaData
projectInfo = pd.read_csv(r'../ProjectInfo.csv')

In [7]:
#--return basic meta information
Project, START, END, SOW, GENES, PROTEINNAME, GENESeq, GENE_LeaderPROTEIN, Gene_NoLeaderProtein = ProjectScraper(projectInfo).scrape_project_input()

In [10]:
#--push to graphical database
with GraphDatabase.driver(uri, auth=(username, password)) as driver:
    with driver.session() as session:
        PROTEINLEADERINFO = GENE_LeaderPROTEIN.get(GENES[0])
        PROTEINNLINFO = Gene_NoLeaderProtein.get(GENES[0])
        session.execute_write(GB.create_project, Project[0], START, END, SOW)
        session.execute_write(GB.create_gene_to_projects, Project[0], GENES[0], GENESeq,
                            PROTEINNAME,  PROTEINLEADERINFO[1], PROTEINLEADERINFO[2], PROTEINLEADERINFO[3], PROTEINLEADERINFO[4],
                            PROTEINNLINFO[1], PROTEINNLINFO[2], PROTEINNLINFO[3], PROTEINNLINFO[4], PROTEINLEADERINFO[0],  PROTEINNLINFO[0])