In [1]:
from consolidation.plateConsol import EchotoPlateConsol
from consolidation.plateConsol import CGEplatesConsol
from consolidation.ToDatabase import GB
from consolidation.ToDatabase.GB import ProjectScraper
from neo4j import GraphDatabase

import pandas as pd
import numpy as np 
from datetime import datetime
import os
import re

In [2]:
DIRS = r'C:\Users\anfarina\OneDrive - Primrose Bio, Inc\EXP4605- FastFeas 8MTT and Pertactin\OneDrive_2024-01-23\Biomek Logs/1_Agar CP/'
FirstMeta = EchotoPlateConsol.PlateConverter(DIRS).convert()

In [3]:
FirstMeta.head(n=5)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,echo_well_pick_actionTime,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,EchoCherryPick_well_pick_actionTime,EchoCherryPick_method_start_time,Autiomation_SerialNum
0,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
2,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
3,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,O5,G0000426,E7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13
4,Source Plate[1],Source[1],B1,A0000404,09/05/2023 16:19:40,L4,G0000426,F7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:19:40,2023-09-05 16:18:38,B8758519K13

In [18]:
dp = r'C:\Users\anfarina\OneDrive - Primrose Bio, Inc\EXP4605- FastFeas 8MTT and Pertactin\OneDrive_2024-01-23\Biomek Logs/3_Harvest/'

ToDPplate = EchotoPlateConsol.DilutionPlateCreator(dp, FirstMeta).create_dilution_plates()

ToDPplate.head(n=2)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,Growth_Inoculation_Time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number
0,Source Plate[1],Source[1],B1,A0000404,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13

In [19]:
gp = r'C:\Users\anfarina\OneDrive - Primrose Bio, Inc\EXP4605- FastFeas 8MTT and Pertactin\OneDrive_2024-01-23\Biomek Logs/4_GLY'

In [20]:
ToGP = EchotoPlateConsol.GlycerolPlates(gp, ToDPplate).convert()

In [21]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,Growth_Inoculation_Time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number
0,Source Plate[1],Source[1],B1,A0000404,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13
1,Source Plate[1],Source[1],B1,A0000404,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13
2,Source Plate[1],Source[1],B1,A0000404,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13

In [3]:
#--directory to the dilution logs 
dp = r'C:\Users\anfarina\OneDrive - Primrose Bio, Inc\EXP4605- FastFeas 8MTT and Pertactin\OneDrive_2024-01-23\Biomek Logs/5_Decant'

In [23]:
#--initiate the getDilutionPlate class
FORCGE = CGEplatesConsol.GetDilutionPlates(ToGP, dp)

In [26]:
#--check dilution plates
FORCGE.getDplates()
FORCGE.Dplates

array(['D0000002', 'D0000004', 'D0000006', 'D0000008', 'D0000010',
       'D0000012', 'D0000014', 'D0000016'], dtype=object)

In [7]:
#--method to get insol plate dictionary
log_data = []
for file in os.listdir(dp):
            if file.endswith('.log'):
                PATH = os.path.join(dp, file)
                f1 = open(PATH, 'r').readlines()[18:]
                D1 = np.loadtxt(f1, dtype=object, delimiter=',')

In [12]:
DATA = pd.DataFrame(D1)
DATA[DATA[4].str.contains(r'S')]

,0,1,2,3,4,5,6,7,8
0,09/07/2023 17:46:55,Pod1,Dispense,TL23,S0000002,D0000002,1,155,Decanting_MC230uL
2,09/07/2023 17:47:46,Pod1,Dispense,TL23,S0000002,D0000002,1,155,Decanting_MC230uL
4,09/07/2023 17:52:27,Pod1,Dispense,TL23,S0000002,D0000002,1,155,Decanting_MC230uL
12,09/07/2023 17:54:53,Pod1,Dispense,TL24,S0000010,D0000010,1,155,Decanting_MC230uL
14,09/07/2023 17:55:44,Pod1,Dispense,TL24,S0000010,D0000010,1,155,Decanting_MC230uL
16,09/07/2023 17:56:34,Pod1,Dispense,TL24,S0000010,D0000010,1,155,Decanting_MC230uL

In [14]:
DATA[DATA[4].str.contains(r'I')][4].unique()

array(['I0000002', 'I0000010'], dtype=object)

In [ ]:
pd.read_csv(log_data)

:

In [39]:
FORCGE.insol

{}

In [14]:
#--method to get sol plate dictionary
FORCGE.getSolPlates()

In [15]:
FORCGE.sol

{'D0000002': 'No SOL Found', 'D0000010': 'No SOL Found'}

In [16]:
#--Convert Insol plates
ToGP['Insol_Plate'] = ToGP['Dilution_Plate'].apply(lambda x: FORCGE.Analyzed_Plates_ISol(x))

In [17]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,Growth_Inoculation_Time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number,Insol_Plate
0,Source Plate[1],Source[1],B1,A0000404,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002
1,Source Plate[1],Source[1],B1,A0000404,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002
2,Source Plate[1],Source[1],B1,A0000404,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002

In [18]:
ToGP['Sol_Plate'] = ToGP['Dilution_Plate'].apply(lambda x: FORCGE.Analyzed_Plates_Sol(x))

In [19]:
ToGP.head(n=3)

,ECHO_Source Plate Name,ECHO_Source Plate Barcode,ECHO_Source Well,384_AGAR_PLATE,384_AGAR_PLATE_WELL,96_GROWTH_PLATE,Sample Name,log_file,Growth_Inoculation_Time,Autiomation_SerialNum,Dilution_Plate,Dilution_Log,Dilution_Autiomation_Serial_Number,Glycerol_Plate,Glycerol_Autiomation_Serial_Number,Insol_Plate,Sol_Plate
0,Source Plate[1],Source[1],B1,A0000404,O6,G0000426,B7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,No SOL Found
1,Source Plate[1],Source[1],B1,A0000404,M6,G0000426,C7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,No SOL Found
2,Source Plate[1],Source[1],B1,A0000404,J6,G0000426,D7,UnifiedTransfer09-05-2023 16.18.38.log,2023-09-05 16:18:38,B8758519K13,D0000002,Pipetting09-07-2023 13.15.04.log,B8758519K13,GLY0000002,B8758519K13,I0000002,No SOL Found

In [20]:
#--directory to the reduced CGE plates
reduced = r'C:\Users\anfarina\OneDrive - Primrose Bio, Inc\EXP4605- FastFeas 8MTT and Pertactin\OneDrive_2024-01-23\Biomek Logs/6_CGE'

In [22]:
#--initiate the ReducedNonReducedPlateConverter class
FORCGEREDUCED = CGEplatesConsol.ReducedNonReducedPlateConverter(reduced)

In [23]:
#--collect and check the plates
FORCGEREDUCED.collectPlates()
FORCGEREDUCED.PLATES

['S0000002',
 'RED0000008',
 'S0000010',
 'RED0000016',
 'I0000002',
 'RED0000024',
 'I0000010',
 'RED0000032']

In [4]:
# Define the connection details
uri = "bolt://localhost:7687"  # Update this with your Neo4j server URI
username = "neo4j"
password = 'fastassscreen'

In [5]:
#--test connection
GB.Neo4jConnector(uri, username, password).connect().test_connection()

'Connected'

In [6]:
#--basic project MetaData
projectInfo = pd.read_csv(r'../ProjectInfo.csv')

In [7]:
#--return basic meta information
Project, START, END, SOW, GENES, PROTEINNAME, GENESeq, GENE_LeaderPROTEIN, Gene_NoLeaderProtein = ProjectScraper(projectInfo).scrape_project_input()

In [10]:
#--push to graphical database
with GraphDatabase.driver(uri, auth=(username, password)) as driver:
    with driver.session() as session:
        PROTEINLEADERINFO = GENE_LeaderPROTEIN.get(GENES[0])
        PROTEINNLINFO = Gene_NoLeaderProtein.get(GENES[0])
        session.execute_write(GB.create_project, Project[0], START, END, SOW)
        session.execute_write(GB.create_gene_to_projects, Project[0], GENES[0], GENESeq,
                            PROTEINNAME,  PROTEINLEADERINFO[1], PROTEINLEADERINFO[2], PROTEINLEADERINFO[3], PROTEINLEADERINFO[4],
                            PROTEINNLINFO[1], PROTEINNLINFO[2], PROTEINNLINFO[3], PROTEINNLINFO[4], PROTEINLEADERINFO[0],  PROTEINNLINFO[0])